<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список преподавателей с учениками</title>
</head>
<style>
    .menu {
        left: 10px;
        bottom: 2%;
        position: fixed;
    }
</style>
<body>
    <div class="menu"><a href="/">/На главную</a></div>
    <h2>Ученики</h2>
    <h1>Преподаватель: {{ current_teacher.surname }}</h1>
    <div>
        <a hrеf="/students_by_teacher/"> Выберете преподавателя:</a>
        {% for teacher in teachers %}
        <a href="/students_by_teacher/{{teacher.pk}}/">{{ teacher.surname }}</a>
        {% endfor %}
    </div>
    {% for student in students %}
    <div>
        <h2>{{ student.name }} {{ student.surname }}</h2>
    </div>
    {% endfor %}
</body>
</html>