{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'main.css' %}">
    <meta charset="UTF-8">
    <title>BMS</title>
</head>
<body>
    <h1>Разделы</h1>
    <p><a>/Сейчас {{current_week}}-ая неделя/</a></p>
    <p><a href="/teachers">Преподаватели с учениками</a></p>
    <p><a href="/schedule">Расписание недели</a></p>
    <p><a href="/editing">Редактирование</a></p>
    <p><a href="/clone_next_week">Копирование недели</a></p>

    <!--<p><a href="/add_schedule"> Добавить урок</a></p>
    <p><a href="/add_student"> Добавить ученика</a></p>--!>

</body>
</html>