{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'main.css' %}">
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
    <div id="main">
    <table>
        <tr>
            <th>ДН</th>
            <th>Кабинет</th>
            {% for hour in hours %}
                <th> {{hour}} </th>
            {% endfor %}
        </tr>
        <tr>
        {% for day in days %}
            <th><a>{{day}}</a></th>

            {% for office in offices %}
                <th><a>{{office}}</a></th>
                {% for hour in hours %}
                    <td>
                    {% for schedule in schedules %}
                        {% if schedule.time.weekday == day.name and schedule.office == office and schedule.time.hour == hour.name %}
                            {% if schedule.state != 1 %}
                                <p style="background-color:red"><a href="/schedule/{{schedule.id}}"> {{schedule}}</a></p>
                            {% else %}
                                <p style="background-color:yellow"><a href="/schedule/{{schedule.id}}"> {{schedule}}</a></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <p><a href="/add_time_schedule/{{day}}{{hour}}{{office}}">+</a></p>
                    </td>
                {% endfor %}
                </tr>
                {% if not forloop.last %}
                    <td>-</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    </div>
</body>
</html>